.container {
  height: 86px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  gap: 72px;
  padding: 1rem 70px;
}

.container > img {
  height: 86px;
  width: 86px;
}

.container > a:nth-child(2) {
  margin-left: auto;
}

.container > a {
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
